<!DOCTYPE html>
<head>
  <title>Car Dealership</title>
</head>
<body>
  <form action="/car" method="post">
    <label for="year">Year:</label>
    <input id="year" name="year" type="number" min="1980" max="2022" value="2022" required>
    <label for="make-model">Make and Model:</label>
    <input id="make-model" name="makeModel" type="text" required>
    <br>
    <label for="mileage">Mileage:</label>
    <input id="mileage" name="mileage" type="number" min="0" value="0" required>
    <label for="price">Price:</label>
    <input id="price" name="price" type="number" min="0" value="0" required>
    <button type="submit">Add to lot.</button>
  </form>
</body>